apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
  name: ${PROJECT_NAME}-backend
  labels:
    app: ${PROJECT_NAME}-backend
spec:
  ports:
  - port: 1234
    name: ${PROJECT_NAME}-backend
  selector:
    app: ${PROJECT_NAME}-backend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${PROJECT_NAME}-backend
  labels:
    app: ${PROJECT_NAME}-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${PROJECT_NAME}-backend
  template:
    metadata:
      labels:
        app: ${PROJECT_NAME}-backend
    spec:
      containers:
      - name: ${PROJECT_NAME}-backend
        image: taavettik/${PROJECT_NAME}-backend:${PROJECT_ENV}
        imagePullPolicy: Always
        env:
        - name: "PROJECT_ENV"
          value: ${PROJECT_ENV}
        - name: "PORT"
          value: "1234"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: ${PROJECT_NAME}-secrets
              key: jwt-secret
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: ${PROJECT_NAME}-secrets
              key: db-password
        - name: ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: ${PROJECT_NAME}-secrets
              key: root-password