name: ci

on:
  push:
    branches:
      - master

jobs:
  deploy-secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: rlespinasse/github-slug-action@v3.x
      - run: 'echo "PROJECT_ENV=$(. ./kubernetes/ci.sh;)" >> $GITHUB_ENV'
      - name: Set up k8s
        uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBERNETES_CONFIG }}
      - uses: azure/k8s-create-secret@v1
        with:
          namespace: 'heatpump-${{ env.PROJECT_ENV }}'
          secret-type: 'generic'
          secret-name: heatpump-root-password
          data: ${{ secrets.ROOT_PASSWORD }}
  
  build-backend:
    runs-on: ubuntu-latest
    needs: deploy-secrets
    steps:
      - uses: actions/checkout@v2
      - uses: rlespinasse/github-slug-action@v3.x
      - run: 'echo "PROJECT_ENV=$(. ./kubernetes/ci.sh;)" >> $GITHUB_ENV'
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          context: ./server
          file: ./server/Dockerfile.build
          platforms: linux/amd64
          push: true
          tags: 'taavettik/heatpump-backend:${{ env.PROJECT_ENV }}'
    
  deploy:
    runs-on: ubuntu-latest
    needs: [build-backend]
    steps:
      - uses: actions/checkout@v2
      - uses: rlespinasse/github-slug-action@v3.x
      - run: 'echo "PROJECT_ENV=$(. ./kubernetes/ci.sh;)" >> $GITHUB_ENV'
      - uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBERNETES_CONFIG }}
      - uses: azure/setup-kubectl@v1
      - run: >
          . kubernetes/project.sh;
          kubectl kustomize "kubernetes/overlays/${PROJECT_ENV}" |envsubst |kubectl apply -f -;
          kubectl rollout restart deployment
          heatpump-backend
          -n "heatpump-${{ env.PROJECT_ENV }}"
